<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두근두근 우체통</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <div class="title">
        <div class="emoji">📬</div>
        두근두근 우체통
    </div>
    <button class="button" id="registerBtn">내 페이지 만들기</button>
    <button class="button" id="loginBtn">내 페이지 확인하기</button>
</div>
<script>
    const reigsterBtn = document.querySelector("#registerBtn");
    const loginBtn = document.querySelector("#loginBtn");
    reigsterBtn.addEventListener("click", function() {
        window.location.href = "/main/register";
    });

    // 로그인 버튼 클릭
    loginBtn.addEventListener("click", function(){
        window.location.href = "/main/login"
    })
</script>
</body>
</html>
