<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두근두근 우체통</title>
    <style>
        * {
            margin: 0; padding: 0;
        }
        body {
            padding: 2rem;
        }
        .header {
            padding: 16px 24px;              /* 여백 */
            margin: 20px auto;               /* 위아래 여백 + 가운데 정렬 */
            font-size: 17px;
            font-weight: bold;
            text-align: center;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 16px;
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
  }
    </style>
</head>
<body>
<div class="header">
    <label>📬 {{name}} 님께 익명 쪽지 {{totalMessage}} 개가 도착했습니다</label>
</div>
<div class="grid-container" id="grid-container">
    <label id="notYetMsg" style="text-align: center;">아직 도착한 쪽지가 없어요 😭</label>
</div>
<script>
    const msgCount = Number("{{totalMessage}}");
    console.log("totalMessage:", {{ totalMessage }}); // 브라우저 콘솔에서 확인
    const container = document.getElementById("grid-container");
        if(msgCount > 0){

            const notYetMsg = document.querySelector("#notYetMsg");
            notYetMsg.style.display = 'none';

            const img = document.createElement("img");

            for (let i = 0; i < msgCount; i++) {
                const img = document.createElement("img");
                img.id = "message-img-" + i;
                img.src = "/image/note_.png";
                img.style.width = "100px";
                img.style.margin = "5px";
                container.appendChild(img);
            }
        }
</script>
</body>
</html>