<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두근두근 우체통</title>
<link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<div class="header">
    <label>📬 {{name}} 님께 익명 쪽지 {{totalMessage}} 개가 도착했습니다</label>
</div>
<div class="grid-container" id="grid-container">
    <label id="notYetMsg" style="text-align: center;">아직 도착한 쪽지가 없어요 😭</label>
</div>
<div class="logoutZone"><button id="logoutBtn">로그아웃</button></div>

<!-- 모달 구조 -->
<div id="messageModal" class="modal">
    <div class="modal-content">
        <p id="messageDate" style="margin-top: 30px"></p>
        <p id="messageEmoji" style="font-size: 30px"></p>
        <p id="messageText"></p>
        <button class="closeButton" onclick="closeModal()">닫기</button>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("grid-container");
    const notYetMsg = document.getElementById("notYetMsg");

    const urlParts = window.location.pathname.split('/');
    const userId = urlParts[1];

    // 메시지 불러오기
    fetch(`/api/messages/${userId}`)
        .then(response => response.json())
        .then(messages => {
            if (messages.length === 0) return;

            notYetMsg.style.display = 'none';

            messages.forEach((msg, i) => {
                const img = document.createElement("img");
                img.src = "/image/note_.png";
                img.style.width = "100px";
                img.style.margin = "5px";
                img.style.cursor = "pointer";
                img.addEventListener("click", () => {
                    openModal(msg); // 클릭하면 쪽지 내용 표시
                });
                container.appendChild(img);
            });
        });
    });
    // 모달 열기
    function openModal(msg) {
        const modal = document.getElementById("messageModal");
        const text = document.getElementById("messageText");
        const date = document.getElementById("messageDate");
        const emoji = document.getElementById("messageEmoji");

        date.innerText = msg.createdAt;
        text.innerText = msg.content;
        emoji.innerText= msg.emoji;

        modal.style.display = "block";
    }

    // 모달 닫기
    function closeModal() {
        document.getElementById("messageModal").style.display = "none";
    }

    const logoutBtn = document.querySelector("#logoutBtn");
    logoutBtn.addEventListener("click", function(){
        fetch('/api/logout', {
            method: 'POST'
        })
        .then(res => {
            if (res.ok) {
                window.location.href = '/main'; // 로그아웃 후 메인 페이지로
            } else {
                alert("로그아웃 실패");
            }
        });
    });
</script>
</body>
</html>